/* colors */

body[data-theme="default"] {
  --brand-color: #fc2561;
  --brand-darker: darken(var(--brand-color), 15%);
  --brand-darkest: darken(var(--brand-color), 30%);
  --brand-light: lighten(var(--brand-color), 77%);
  --brand-lightest: lighten(var(--brand-color), 92%);
  --secondary: #319ce7;
  --gray: #c2c8ca;
  --gray-darker: #747a7b;
  --text-color: #20313a;
  --gray-light: #e6ecf0;
  --gray-lightest: #f5f6f7;
  --clear: #ffffff;
}
