@charset "UTF-8";
/* == breakpoints == */
* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Segoe UI Emoji", "Segoe UI Symbol", Roboto, Helvetica, "Helvetica Neue", Oxygen-Sans, Ubuntu, Cantarell, Arial, sans-serif, "Apple Color Emoji";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--gray-darkest);
}

.container {
  max-width: 600px;
  padding: 0 8px;
  margin: 0 auto;
}
@media (min-width: 600px) {
  .container {
    padding: 0 16px;
  }
}

a {
  -webkit-text-decoration-line: none !important;
          text-decoration-line: none !important;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

figure {
  margin: 0;
}

h1,
h2,
h3 {
  font-weight: 700;
  color: var(--gray-darkest);
}

/* colors */
body[data-theme=default] {
  --brand-color: #fc2561;
  --brand-darker: #d62052;
  --brand-darkest: #b01a44;
  --brand-light: #fecddb;
  --brand-lightest: #ffeef2;
  --secondary: #319ce7;
  --gray-default: #c2c8ca;
  --gray-darker: #747a7b;
  --gray-darkest: #20313a;
  --gray-light: #e6ecf0;
  --gray-lightest: #f5f6f7;
  --light: #ffffff;
}

body[data-theme=ladymall] {
  --brand-color: #e6427a;
  --brand-darker: #c33868;
  --brand-darkest: #a12e55;
  --brand-light: #f9d3e0;
  --brand-lightest: #fdf0f4;
  --secondary: #319ce7;
  --gray-default: #c2c8ca;
  --gray-darker: #747a7b;
  --gray-darkest: #20313a;
  --gray-light: #e6ecf0;
  --gray-lightest: #f5f6f7;
  --light: #ffffff;
}

.nav-pills-c {
  justify-content: flex-start;
  flex-wrap: nowrap;
  gap: 8px;
}
@media (max-width: 600px) {
  .nav-pills-c {
    justify-content: left;
    padding-left: 8px;
  }
}

.nav-pills-c > li > .nav-link {
  color: var(--gray-darkest);
  background-color: var(--gray-lightest);
  border: 1px solid var(--gray-lightest);
  border-radius: 20px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
  padding: 0.4rem 14px;
  /*  margin-left: 4px;
  margin-right: 4px;*/
}

.nav-pills-c > li > .nav-link:hover {
  background-color: var(--gray-lightest);
  border: 1px solid var(--gray-default);
}

.nav-pills-c .nav-link.active,
.nav-pills-c .show > .nav-link {
  color: var(--gray-darkest);
  background-color: var(--light);
  border: 1px solid var(--secondary);
}

.nav-pills-c .nav-link:hover.active,
.nav-pills-c .show > .nav-link:hover {
  color: var(--gray-darkest);
  background-color: var(--light);
  border: 1px solid var(--secondary);
}

.prx-0 {
  padding-right: 0;
  padding-left: 0;
}

.meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.category-pills {
  margin: 0;
  padding: 0;
  line-height: 15px;
  list-style-type: none;
}
.category-pills li {
  display: inline-block;
  margin: 0.5rem 5px 0 0;
}

.category-pills li a,
.category-pills li.cat-pill {
  background-color: var(--gray-light);
  color: var(--gray-darker);
  font-size: 0.688rem;
  line-height: 1;
  font-weight: 700;
  border-radius: 5px;
  padding: 5px 10px;
}

.header-top {
  padding-top: 8px;
  padding-bottom: 8px;
}
.header-top .container {
  padding-left: 8px;
  padding-right: 8px;
}
.header-top .input-group {
  width: 60%;
}
@media (min-width: 600px) {
  .header-top .input-group {
    margin-left: 0;
  }
}
.header-top form {
  width: 40%;
}
@media (min-width: 600px) {
  .header-top form {
    margin-right: 0;
  }
}
.header-top .flex-row {
  gap: 16px;
  justify-content: space-between;
}
@media (max-width: 600px) {
  .header-top .flex-row {
    padding-left: 10px;
    padding-right: 12px;
  }
}

.input-group-text {
  display: flex;
  align-items: center;
  padding: 0.375rem 0.75rem;
  margin-bottom: 0;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--gray-default);
  text-align: center;
  white-space: nowrap;
  background-color: transparent;
  border-top: 1px solid transparent;
  border-right: 1px solid transparent;
  border-bottom: 1px solid transparent;
  border-left: 1px solid transparent;
  border-radius: 10px;
  position: absolute;
  right: 0px;
  top: 7px;
  z-index: 200;
}

.input-group-text-c {
  display: flex;
  align-items: center;
  padding: 0.1rem 0.1rem;
  margin-bottom: -8px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--gray-default) !important;
  text-align: center;
  white-space: nowrap;
  background-color: transparent;
  border-top: 1px solid transparent;
  border-right: 1px solid transparent;
  border-bottom: 1px solid transparent;
  border-left: 1px solid transparent;
  border-radius: 5px;
  position: absolute;
  left: 12px;
  top: 4px;
  z-index: 200;
  width: 50px;
}

.form-control-c {
  padding-left: 2.6rem;
  border: 1px solid var(--gray-default);
  border-radius: 5px !important;
  font-size: 14px;
  color: var(--gray-darker);
}

.form-control-c:focus {
  border: 1px solid var(--gray-darkest);
  box-shadow: none;
}

.form-select-c {
  display: block;
  width: 100%;
  padding: 0.375rem 2.25rem 0.375rem 0.75rem;
  -moz-padding-start: calc(0.75rem - 3px);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--gray-darkest);
  background-color: var(--light);
  background-image: url("../img/caret-down.svg") !important;
  background-repeat: no-repeat;
  background-position: right 5px center;
  background-size: 30px 20px;
  border: 1px solid var(--gray-default);
  border-radius: 5px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.form-select-c:focus, .form-select-c:active {
  border-color: var(--secondary);
  outline: 0;
  box-shadow: none;
}

.bg-f5 {
  background-color: var(--gray-lightest);
}

.box-sh-1 {
  box-shadow: 0px 1px 0px var(--gray-light);
}

.color-203 {
  color: var(--gray-darkest) !important;
}

.color-74 {
  color: var(--gray-darker) !important;
}

.font-16 {
  font-size: 16px;
}

.font-12 {
  font-size: 12px;
}

.font-11 {
  font-size: 11px !important;
}

.font-40 {
  font-size: 40px;
}

.bold {
  font-weight: 600 !important;
}

.bolder {
  font-weight: 700 !important;
}

.span-articles {
  padding: 3px 9px;
  background: var(--gray-light);
  border-radius: 5px;
  display: inline-block;
}

.a-link {
  cursor: pointer;
  text-decoration: none;
}

.text-upper {
  text-transform: uppercase;
}

.mt-51 {
  margin-top: 51px;
}

.mt-101 {
  margin-top: 101px;
}

.mt-56 {
  margin-top: 56px;
}

.arrow-left {
  position: absolute;
  left: 15px;
  vertical-align: middle;
}

.btn-heart {
  background-color: var(--light);
  border-radius: 5px;
  padding: 0.47rem;
  border: 1px solid var(--gray-default);
  width: 32px;
  height: 32px;
}

.btn-heart:focus {
  box-shadow: none;
}

.btn-heart:hover {
  border: 1px solid var(--gray-default);
}

.btn-heart:active,
.btn-heart.active {
  background-color: var(--light);
  border: 1px solid var(--gray-default);
}

.icon-dislike {
  display: block !important;
}

.icon-like {
  display: none !important;
}

.btn-heart:active > .icon-dislike,
.btn-heart.active > .icon-dislike {
  display: none !important;
}

.btn-heart:active > .icon-like,
.btn-heart.active > .icon-like {
  display: block !important;
}

.btn-ver-producto {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 11px 16px;
  gap: 8px;
  width: 115px;
  height: 32px;
  left: 127px;
  top: 738px;
  background: var(--light);
  font-weight: 400;
  line-height: 10px;
  color: var(--brand-color);
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
      user-select: none;
  background-color: transparent;
  border: 1px solid var(--gray-default);
  padding: 0.375rem 1rem;
  font-size: 14px;
  border-radius: 5px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-ver-producto:hover {
  color: var(--brand-color);
  background-color: var(--gray-lightest);
}

.btn-ver-producto:focus {
  box-shadow: none;
}

span p .color-74 {
  color: var(--gray-darker) !important;
  -webkit-text-decoration: solid;
          text-decoration: solid;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

@media screen and (max-width: 768px) {
  .lh-22 {
    line-height: 22px;
  }
  .font-16 {
    font-size: 14px;
  }
  .font-40 {
    font-size: 32px;
    line-height: 38px;
  }
}
@media screen and (max-width: 600px) {
  #likes_counter {
    display: inline-block !important;
  }
}
.hide {
  display: none !important;
}

.filled {
  color: var(--gray-darkest) !important;
}

#search:focus {
  border: 1px solid var(--secondary);
}

.categories {
  margin-right: 8px;
}

.align-span {
  white-space: nowrap;
  margin-left: 16px;
}

#img-heart {
  max-width: none;
}

.flex-row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}

.wrap-articles {
  padding: 0;
}

.article {
  border: 1px solid var(--light);
  margin-bottom: 2px;
  border-radius: 0;
  background-color: var(--light);
  box-shadow: 0px 1px 0px var(--gray-light);
  padding: 16px 16px 20px 16px;
  gap: 8px;
}
@media (min-width: 600px) {
  .article {
    gap: 16px;
    padding: 16px 16px 20px 16px;
  }
}
.article.sticky {
  border: 1px solid var(--brand-color);
  border-radius: 5px;
  box-shadow: none;
  margin: 8px 8px 8px 9px;
  padding-left: 8px;
}
@media (min-width: 600px) {
  .article.sticky {
    margin: 25px 0;
    padding-left: 16px;
  }
}
.article.flex-row {
  align-items: flex-start;
}
.article figure img.wp-post-image {
  margin: 0;
  max-width: 60px;
  height: auto;
}
@media (min-width: 600px) {
  .article figure img.wp-post-image {
    max-width: 80px;
  }
}
.article .content {
  width: 100%;
}
.article .content h2 {
  margin: 0 0 4px 0;
  line-height: 137%;
  font-size: 16px;
  font-size: 1rem;
}
.article .content .excerpt {
  margin-top: -0.2rem;
}
.article .content .excerpt p {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 137%;
  margin-bottom: 0;
  color: var(--gray-darker);
}
@media (min-width: 600px) {
  .article .content .excerpt p {
    font-size: 16px;
    font-size: 1rem;
  }
}

.single header .top-header {
  width: 100%;
  padding: 15px 0;
  background-color: var(--gray-lightest);
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}
.single header .top-header .container {
  position: relative;
}
.single header .top-header p {
  margin-bottom: 0;
}

.single p {
  line-height: 150%;
}
.single h1,
.single h2 {
  line-height: 115%;
}
.single h1 {
  margin-top: 16px;
}
.single .excerpt-single {
  line-height: 137%;
}

.single time {
  font-size: 0.75rem;
  line-height: 15px;
  color: var(--gray-darker);
}

p.color-203 {
  line-height: 137% !important;
}

p.color-203.bolder {
  line-height: 115% !important;
}

/* NRA added on 2020/08/03: */
.single-main > .row:first-of-type {
  padding-top: 4px;
}

/* Post tipo Ranking */
/* Post tipo Evento */
.secondary-text,
.group-product h2 + p {
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  color: var(--gray-darker);
}

.primary-btn {
  width: 100%;
}

.primary-btn a {
  background: var(--brand-color);
  color: #ffffff;
  border-radius: 5px;
  font-weight: 700;
  font-size: 14px;
  line-height: 10px;
  letter-spacing: 1px;
  text-transform: uppercase;
  height: 48px;
  display: flex;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
  margin-top: 8px;
  margin-bottom: 32px;
}

.primary-btn a:hover,
.primary-btn a:focus,
.primary-btn a:active {
  background-color: #d61f52 !important;
}

.likebtn_container {
  margin-left: 0 !important;
  padding-bottom: 16px !important;
}

@media only screen and (max-width: 600px) {
  figure.size-full,
figure.is-type-video {
    padding-left: 0;
    padding-right: 0;
  }
}
@media only screen and (min-width: 600px) {
  .primary-btn {
    max-width: 310px;
  }
}
/* Post tipo Formación */
iframe.youtube-player svg .ytp-large-play-button-bg {
  fill: white !important;
}

iframe.youtube-player svg path:last-of-type {
  fill: black !important;
}

.lb-style-custom .lb-like,
.lb-style-custom .lb-dislike {
  height: 32px !important;
  width: 32px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 0 !important;
}

.single-main .lb-style-custom .lb-count {
  font-size: 0.875rem !important;
  color: var(--gray-darkest);
  top: 4px;
}

.single-main #lb-label {
  font-size: 0.875rem;
  padding-left: 0.95em !important;
}