// post categories in index and detail
.meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.category-pills {
  margin: 0;
  padding: 0;
  list-style-type: none;
  li {
    display: inline-block;
    margin-right: 5px;
    a {
      background-color: var(--gray-light);
      color: var(--gray-darker);
      font-size: 0.688rem; //11px
      line-height: 15px;
      font-weight: 700;
      border-radius: 5px;
      padding: 3px 9px;
    }
  }
}
