// post categories in index and detail
.meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.category-pills {
  margin: 0.5rem 0;
  padding: 0;
  line-height: 15px;
  list-style-type: none;
  li {
    display: inline-block;
    margin-right: 5px;
  }
}

.category-pills li a,
.category-pills li.cat-pill {
  background-color: var(--gray-light);
  color: var(--gray-darker);
  font-size: 0.688rem; //11px
  line-height: 1;
  font-weight: 700;
  border-radius: 5px;
  padding: 5px 10px;
}
